# mav2287 / gitignore_php 
# Version: 1.0.0
# This .gitignore file is based on https://github.com/mav2287/php_gitignore
# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# IDE Data
/.idea

# OS X & MacOS
__MACOSX
Network Trash Folder
Temporary Items
.DS_Store
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent
.AppleDB
.AppleDesktop
.apdisk

# Logs
/logs

# dependencies
/node_modules
/.pnp
/vendor
src/vendor*
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

# additional files to ignore should be below this line
